
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 topic-panel text-center">
                    <h1>Driver Master</h1>
                </div>
            </div>
            <div class="row margin-10">
                <div class="col-sm-2">
                    <h4>Driver Code :</h4>
                </div>
                 <div class="col-sm-4">
                    <input type="text" id="lname" name="lname" class="form-control"  [(ngModel)]="driver_code" >
                </div>
                <div class="col-sm-2">
                    <h4>Driver Name :</h4>
                </div>
                 <div class="col-sm-4">
                    <input type="text" id="lname" name="lname" class="form-control" [(ngModel)]="driver_name" >
                </div>
            </div>
            <div class="row margin-30">

                <div class="col-sm-1">
                    <button type="button" class="btn btn-info button-custom" (click)="reload()"  >
                        Search
                    </button>
                </div>

                <div class="col-sm-2">
                    <button type="button" class="btn btn-info button-custom" (click)="downloadCSV()" >
                        Download as CSV
                    </button>
                </div>
                 <div class="col-sm-4">
                </div>
                <div class="col-sm-1">
                   <button type="button" class="btn btn-info btn-danger" *ngIf="is_add||is_edit||is_remove" (click)="reload()">
                        Cancel 
                    </button>
                </div>
                <div class="col-sm-1" *ngIf="!is_add">
                    <button type="button" class="btn btn-info button-custom"  [hidden] ="is_add||is_edit||is_remove" (click)="add_driver()">
                        Add
                    </button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info button-custom"  [hidden] ="is_add||is_edit||is_remove" *ngIf="!is_remove" (click)="click_remove()" >
                        Remove
                    </button>
                </div>  
            </div>

            <div class="row margin-30" style="overflow-x:auto;">
                <div class="table">
                    <div class="table-row header blue">
                        <div class="table-cell" >
                        </div>
                        <div class="table-cell" >
                            Driver Code
                        </div>
                        <div class="table-cell">
                            Driver Name
                        </div>
                        <div class="table-cell">
                            Driver Tel
                        </div>
                        <div class="table-cell">
                            Remark 
                        </div>
                        <div class="table-cell">
                            Updated By
                        </div>
                        <div class="table-cell">
                            Updated Timestamp
                        </div>
                    </div>
                    
                     <div class="table-row" *ngFor="let driver of driver_list" (dblclick)= "open_edited(driver)" >
                        <div class="table-cell" style="vertical-align: middle" >
                           <input type="checkbox"  *ngIf="is_remove" class="form-control"  
                                 style="width:40px;vertical-align: middle;"  
                             (change)="add_remove_driver(driver)" />
                        </div>
                        <div class="table-cell"  style="vertical-align: middle" *ngIf="!driver.is_add&&!driver.is_edit">
                            {{driver.driver_code}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle" *ngIf="!driver.is_add&&!driver.is_edit">
                            {{driver.name}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle" *ngIf="!driver.is_add&&!driver.is_edit">
                            {{driver.tel}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle" *ngIf="!driver.is_add&&!driver.is_edit">
                            {{driver.remark}}
                        </div>

                        <div class="table-cell"  style="vertical-align: middle" *ngIf="driver.is_edit">
                            {{driver.driver_code}}
                        </div>
                        <div class="table-cell" *ngIf="driver.is_add" style="vertical-align: middle">
                            <input type="text" id="lname" name="lname" class="form-control" style="width:150px;vertical-align: middle" 
                                [ngStyle]="(driver.driver_code==null||driver.driver_code=='') && {'border-color': 'red'}" 
                                [(ngModel)]="driver.driver_code" >
                        </div>
                        <div class="table-cell" *ngIf="driver.is_add||driver.is_edit" style="vertical-align: middle">
                            <input type="text" id="lname" name="lname" class="form-control" style="width:150px;vertical-align: middle" 
                                [ngStyle]="(driver.name==null||driver.name=='') && {'border-color': 'red'}" 
                                [(ngModel)]="driver.name" >
                        </div>
                        <div class="table-cell" *ngIf="driver.is_add||driver.is_edit" style="vertical-align: middle">
                            <input type="text" id="lname" name="lname" class="form-control" style="width:150px;vertical-align: middle"
                                [ngStyle]="(driver.tel==null||driver.tel=='') && {'border-color': 'red'}"  
                                [(ngModel)]="driver.tel" appPhoneMask >
                        </div>
                        <div class="table-cell" *ngIf="driver.is_add||driver.is_edit" style="vertical-align: middle">
                            <input type="text" id="lname" name="lname" class="form-control" style="width:150px;vertical-align: middle"  [(ngModel)]="driver.remark"  >
                        </div>



                        <div class="table-cell"  style="vertical-align: middle">
                            {{driver.updated_by}}
                        </div>
                        <div class="table-cell"  style="vertical-align: middle">
                            {{driver.updated_date | date:'dd/MM/yyyy HH:mm:ss'}} 
                        </div>
                        <!--
                        <div class="table-cell" *ngIf="driver.is_edit">
                            <button type="button" class="btn btn-warning" (click)="edited_driver(driver)"  style="vertical-align: middle">Edit</button>
                        </div>
                        <div class="table-cell" *ngIf="driver.is_edit">
                            <button type="button" class="btn btn-danger" (click)="clear_edited(driver)" style="vertical-align: middle" >Clear</button>
                        </div>
                        -->
                    </div>
  
            </div>
        </div>
    </div>
    


  
